@charset "utf-8";

/* HTML and Body Styles */

html {
background-color: hsl(0deg, 5%, 44%);
}

body {
color: rgb(255, 248, 248);
background-color: #460f0f;
margin: 0 auto;
width: 100%;
max-width: 1020px;
min-width: 640px;
}

/* Heading Styles */

header {
background-color:#802a2a;
}

h1 {
color: white;
}

/* Navigation Styles */	

nav > ul {
line-height:2em;
list-style-type: none;
padding-left:5px;
background-color: white;
}

/* Left Column Styles */
section#leftColumn {
	clear: left;
	float: left;
	background-color:blue;
	padding: 1.2em;
	width: 55%;
}

/* Right Column Styles */
section#rightColumn {
	clear:right;
	background-color:pink;
	float: right;
	padding: 0.3em;
	width: 40%;
}

/* List Styles */





/* Footer Styles */

footer {
background-color: #7a7a7a;
}



/*
