@charset "utf-8";

/* HTML and Body Styles */

html {
background-color: hsl(0deg, 5%, 44%);
}

body {
color: rgb(255, 248, 248);
background-color: #460f0f;
margin: 0 auto;
width: 100%;
max-width: 1020px;
min-width: 640px;
}

/* Heading Styles */

header {
background-color:#802a2a;
}

h1 {
	text-indent: 11em;
color: white;
}

/* Navigation Styles */	

nav > ul {line-height:2em;
	list-style-type: none;
	padding-left:5px;
	background-color: white;}

li {
	display: inline;
}

li a {
	display:inline-block;
	color: green;
	text-align: center;
	padding: 14px 16px;
}

a {
	display:inline-block;
	padding: 15px;
}

/* change the link color to pink on hover */
li a:hover {
	background-color: pink;
}

/* Left Column Styles */
section#leftColumn {
	clear: left;
	float: left;
	background-color:blue;
	padding: 1.2em;
	width: 50%;
}

section#leftColumn1 {
	clear: left;
	float: left;
	background-color:blue;
	padding: 1.2em;
	width: 50%;
}
section#leftColumn img {
	display: block;
	width: 50%;
}

/* Right Column Styles */
section#rightColumn {
	clear:right;
	background-color:pink;
	float: right;
	padding: 0.3em;
	width: 45%;
	height: 389px;
}

section#rightColumn2 {
	clear:right;
	background-color:pink;
	float: right;
	padding: 0.3em;
	width: 45%;
	height: 148px;
}

/* List Styles */





/* Footer Styles */

footer {
background-color: #7a7a7a;
	display: block;
}

body > footer {
	width: 100%;
	clear: left;
	height: 60px;
}


/*
